/* Common Shared Style  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}
.headings{
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-weight: 700;
    
}

.button-primary{
    padding: 1.2rem 2.5rem;
    margin: 1.2rem 0.7rem;
    border-radius: 3rem;
    gap: 1rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

/* navbar styling start */
.header-section{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 8.1rem;
}
.nav-section-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 9rem;
    margin-bottom: 1rem;

}
.nav-left .headings span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.nav-left{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    gap: 2rem;
}
.nav-left img{
    width: 5rem;
    height: 2.5rem;

}
.nav-left > .headings{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-right{
    display: flex;
    color: #3C354F;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    gap: 2rem;
}

.link-box{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
   align-items: center;
   gap: 1em;
   padding:  1rem 1.5rem;
   display: flex;
}
.link-box span{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.youtbe, .titok{ 
    width: 2rem;
    height: 1.5rem;

}

/* Banner section styling */
.banner-section{
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.textbox .headings{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
   /* margin: 2rem; */
}
.large-heading{
    text-align: center;
    font-family: Work Sans;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-section .textbox {
    padding: 2rem;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.textbox li{
    color: #534C64;

    font-size: 1.25rem;
    margin: 1rem;
    font-weight: 500;
    list-style: none;
}

 .sign-in{
    align-items: flex-start;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.go-rogue {
    border-radius: 48px;
    background: #4EC5F7;
   
}
/* gamer-section styling */
.gamer-section{
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   
}
.btn-knowmore{
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* margin-left: auto; */
    
}
.gamer-headings{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.game-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: right;
    margin-top: 2rem;   

}

.purpose-text{
    color: #534C64;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
}
.purpose-text span{

    font-size: 1.6rem;
    font-weight: 700;

}

/* online-games section styling */
.online-games{
    margin: 7rem 0rem;
}
.heading, .subtitle{
text-align: center;

}
.online-head, .colhead{
    font-size: 2.8rem;
}
.colhead{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;
    margin: 2rem 5rem;
}

.boxs> img{
    width: 18rem;
    height: 20rem;
    border-radius: 16px;
background:  lightgray 50% / cover no-repeat;
}
#box-3{
    z-index: -1;
}

.caption, .subtitle{
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1.1rem 0px;

 } 
.caption{
   font-weight: 500;
   text-align: left;
 } 
.btn-knowmore{
    display: flex;
    justify-content: flex-end;
}
.boxs {
    position: relative;
  }
  
  .boxs .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    z-index: 2;
  }
  
  .boxs:hover .overlay {
    opacity: 1;
    border: 2px solid #FF42A5;
  }
  
  .boxs .overlay i {
    color: black;
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: #fff;
    
  }
  
  .boxs .overlay p {
    color: #FF42A5;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  
  .boxs img {
    width: 18rem;
    height: 20rem;
    border-radius: 16px;
    background: lightgray 50% / cover no-repeat;
  }
  

 /* playinstantly-section styling */
 .playinstantly-section{
    margin: 2rem 0rem;
    /* margin-bottom: -200px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
 }
 .playinstantly-section .image{
    height: auto;
 }

 .instand-headings{
    text-align: right;
    font-size: 2.6rem;
    font-weight: 700;
    width: 75%;
    color: #0B0223;

 }
 .instand-headings span{
    background: linear-gradient(180deg, #F948B2,  #8758F1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

 }
 .description{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.1rem;   
    font-weight: 400;
    width: 75%;


 }
 .large-image{
    border-radius: 8px;
    position: relative;
    left: 5rem;
    height:38rem ;
    width:35rem;
    border-radius: 8px;
 }
 .not-large-image{
    position: relative;
    bottom: 15rem;
    height: 21rem;
    width: 20rem ;
    border: 10px solid #FFF;
 }
.image{
    height: 42rem;
    /* border: 4px solid red; */
}
/* Icon Section Styling */

.allgame-icon-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
     
 }
.allgame-icons{
    height: auto;
    display: grid;
    padding:  8rem 0rem;
     grid-template-columns: repeat(5, 1fr);
     gap: 1.2rem;
     margin-top: 2rem;
     display: flex;
  justify-content: center; /* Center the icon containers horizontally */
  flex-wrap: wrap; 
     
 }
 .icon-container{
   
        border-radius: 50px;
        background: #FFF;
        padding: 1rem;
        display: flex;
        justify-content: space-around;       
        align-items: center;
        text-align: center;
        gap: 0.2rem;
 }
 .icon-container:hover{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 0.1rem solid #FF42A5;
    
 }
 .icon{
    width: 100%;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

 }
 .icon-title{
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 600;

 }

 /* Footer Section Syling */
 footer{

    background: #0B0223;
 }
 .company-info{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding: 2rem;
 }
 .list, footer>p, .icons{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3rem;
    list-style: none;
    margin: 1.5rem 0rem;
 }
 .sevices, .tearms{
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;

 }
 .tearms{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
 }
 .company-info .headings{
    color: #FFF;     
    padding: 10px;
}
 .company-info .headings span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.icons {
   
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  
    background-color: whitesmoke;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
  }
  
  .icons:hover {
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
  }
  .copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 2rem;
    margin-bottom: 0px;

  }
  @media (max-width: 570px) { 
    .nav-section-container,  .nav-right, .overlay, .playinstantly-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .header-section{
        margin-bottom: 5rem;
        width: 100%;
        height: 100%;
    }
    .link-box{
        font-size: 8px;
        width: 100%;
    }
    .link-box{
        font-size: 8px;
        width: 100%;
        height: 60%;
    }
  
    .link-box> svg{
      
        width: 10%;
        height: 10%;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 5rem;
        border-radius: 2px solid black;
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
       
    
    }
    .banner-section .img >img, .gamer-section .img> img{
      height: 90%;
      width:  90%;
      /* gap: 700rem; */
      /* margin-left: 2rem;       */
    
    }
    .gamer-section {
        margin-top: 2rem;
        margin-bottom: 5rem;
        padding: 0rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
  
  }
  .btn-knowmore{
    margin: 2rem auto;   
}
.instand-headings,

.gamer-headings, .game-description, .purpose-text, .description {
    text-align: center;
}
.online-games{
    margin: 2rem 0rem;
}
.box-container, .overlay{   
    grid-template-columns: repeat(1, 1fr); 
    gap: 2rem;
    margin: 0rem ;
    padding: 3rem;
    
}
.instand-text-box, .instand-headings {
    width: 90%;

 }
 .large-image{
    left: 6rem;
    height: 20rem;
    width: 17rem;
    
 }
 .not-large-image{
 
    bottom: 9rem;
    height: 12rem;
    width: 11rem;

 }
.image{
   margin-top: 4rem;
   height: auto;
}

 .banner-section .textbox .button-primary{
    padding: 1rem 1.2rem;
    margin: 1.2rem 0rem;
    gap: 1rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}
.box-container {
    margin-left: 0px;
    margin-right: 0px;
    
}


 .icon-container{
    /* width: 60%;
    margin: auto; */
 }
 .online-head, .colhead{
    font-size: 1.8rem;
}
.caption, .subtitle{

    font-size: 0.9rem;

    margin: 0.1rem 0px;
    margin-top: 2rem;

 } 

 .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    gap: 1.2rem;

    list-style: none;
    margin: 3rem 2rem;
 }
 #list-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
 }
 .sevices, .tearms{
    
    font-size: .85rem;
   

 }
  .allgame-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem;
    width: auto;
    padding:  0rem ;
     

 }
 .icon-container{
    width: auto;
 }
 .icon-title,copyright {
   
    font-size: 0.6rem;
    font-weight: 600;

 }
 .icon-container > img{
    width: 70%;
    height: 70%;
 }
 .boxs .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 83%;}
}
  @media screen and (min-width: 570px) and (max-width: 992px)  { 
    .nav-section-container,  .nav-right, .overlay, .playinstantly-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .header-section{
        margin-bottom: 5rem;
        width: 100%;
        height: 100%;
    }
    .link-box{
        font-size: 8px;
        width: 100%;
    }
    .link-box{
        font-size: 8px;
        width: 100%;
        height: 60%;
    }
  
    .link-box> svg{
      
        width: 10%;
        height: 10%;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 5rem;
        border-radius: 2px solid black;
        /* justify-content: center; */
        /* align-items: center; */
        text-align: center;
       
    
    }
    .banner-section .img >img, .gamer-section .img> img{
      height: 90%;
      width:  90%;
      /* gap: 700rem; */
      /* margin-left: 2rem;       */
    
    }
    .gamer-section {
        margin-top: 2rem;
        margin-bottom: 5rem;
        padding: 0rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
  
  }
  .btn-knowmore{
    margin: 2rem auto;   
}
.instand-headings,

.gamer-headings, .game-description, .purpose-text, .description {
    text-align: center;
}
.online-games{
    margin: 2rem 0rem;
}
.box-container, .overlay{   
    grid-template-columns: repeat(2, 1fr); 
    gap: 2rem;
    margin: 0rem ;
    padding: 3rem;
    
}
.instand-text-box, .instand-headings {
    width: 90%;

 }
 .large-image{
    left: 6rem;
    height: 30rem;
    width: 32rem;
    
 }
 .not-large-image{
 
    bottom: 9rem;
    height: 18rem;
    width: 16rem;

 }
.image{
   margin-top: 4rem;
   height: auto;
}

 .banner-section .textbox .button-primary{
    padding: 1rem 1.2rem;
    margin: 1.2rem 0rem;
    gap: 1rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}


 .icon-container{
    /* width: 60%;
    margin: auto; */
 }
 .online-head, .colhead{
    font-size: 1.8rem;
}
.caption, .subtitle{

    font-size: 0.9rem;

    margin: 0.1rem 0px;
    margin-top: 2rem;

 } 

 .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    gap: 1.2rem;

    list-style: none;
    margin: 3rem 2rem;
 }
 #list-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
 }
 .sevices, .tearms{
    
    font-size: .85rem;
   

 }
  .allgame-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem;
    width: auto;
    padding:  0rem ;
     

 }
 .icon-container{
    width: auto;
 }
 .icon-title,copyright {
   
    font-size: 1.1rem;
    font-weight: 600;

 }
 .icon-container > img{
    width: 80%;
    height: 80%;
 }
 .boxs .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 83%;}
}