/* Common Shared Style  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section, header, footer{
    width: 100%;
    height: auto;
    /* border: 8px solid red; */
}

body{
    font-family: 'Work Sans', sans-serif;
}
.headings{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    
}

.button-primary{
    padding: 1.2rem 2.5rem;
    margin: 1.2rem 0.7rem;
    border-radius: 3rem;
    gap: 1rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  box-shadow: 0 8px #999;
}
.button-primary:hover {
    /* opacity: 0.6; */
    background: transparent;
    color: green;

}
.button-primary:active {
  box-shadow: 0 4px #666;
  transform: translateY(4px);
  
}


/* navbar styling start */
.header-section{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 8.1rem;
    width: 100%;
}
.nav-section-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem 9rem;
    margin-bottom: 1rem;
  

}
.nav-left .headings span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.nav-left{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    gap: 2rem;
    margin-bottom: 1.5rem;
}
.nav-left img{
    width: 5rem;
    height: 2.5rem;

}
.nav-left > .headings{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-right{
    display: flex;
    color: #3C354F;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
    gap: 2rem;
}

.link-box{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
   align-items: center;
   gap: 1em;
   padding:  1rem 1.5rem;
   display: flex;
}
.link-box span{
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.youtbe, .titok{ 
    width: 2rem;
    height: 1.5rem;

}

/* Banner section styling */
.banner-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;      
}

.textbox .headings{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.large-heading{
    text-align: center;
    font-size: 5.8rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-section .textbox {
    padding: 5rem;
    background-image: url('images/Group\ 14.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: auto;

}

.textbox li{
    color: #534C64;

    font-size: 1.25rem;
    margin: 1rem;
    font-weight: 500;
    list-style: none;
}

 .sign-in{
    align-items: flex-start;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.go-rogue {
    border-radius: 48px;
    background: #4EC5F7;
   
}
/* gamer-section styling */
.gamer-section{
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 6rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 66, 165, 0.03);
   
}
.btn-knowmore{
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: relative;
    left: 140px;   
    width: auto;
}
.gamer-headings{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    margin-top: 2rem;
    
}
.game-description{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: right;
    margin-top: 2rem;   

}

.purpose-text{
    color: #534C64;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
}
.purpose-text span{

    font-size: 1.6rem;
    font-weight: 700;

}

/* online-games section styling */
.online-games{
    margin: 5rem 0rem;
    padding: 1 2px;
    width: auto;
     padding-left: 0rem;
}
.heading, .subtitle{
    text-align: center;

}
.online-head, .colhead{
    font-size: 2.8rem;
}
.colhead{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-left: 90px;
}
.boxs{
    width: 80%;

}

.boxs> img{

    width: 83%;
    border-radius: 16px;
    margin-bottom: 10px;
}


.caption, .subtitle{
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1.1rem 0rem;
    

 } 
.caption{
   font-weight: 500;
   text-align: left;
 } 

.boxs {
    position: relative;
  }
  
  .boxs .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 83%;
    height: 78%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    z-index: 2;
  }
 
  .boxs:hover .overlay {
    opacity: 1;
    border: 2px solid #FF42A5;
    
  }
  
  .boxs .overlay i {
    color: black;
    border-radius: 50%;
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: #fff;
    
  }
  
  .boxs .overlay p {
    color: #FF42A5;
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .boxs img {
  
    border-radius: 1rem;
    background: lightgray 50% / cover no-repeat;
  }
  

 /* playinstantly-section styling */
 .playinstantly-section{
    margin: 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
 }
 .playinstantly-section .image{
    height: auto;
 }

 .instand-headings{
    text-align: right;
    font-size: 2.6rem;
    font-weight: 700;
    width: 75%;
    color: #0B0223;
    margin: 1rem 0rem;
}
 .instand-headings span{
    background: linear-gradient(180deg, #F948B2,  #8758F1 );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

 }
 .description{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.1rem;   
    font-weight: 400;
    width: 75%;


 }
 .large-image{
    position: relative;
    left: 5rem;
    height:38rem ;
    width:35rem;
    border-radius: 8px;
 }
 .not-large-image{
    position: relative;
    bottom: 15rem;
    height: 21rem;
    width: 20rem ;
    border: 10px solid #FFF;
 }
.image{
    height: 42rem;
    /* border: 4px solid red; */
}
/* Icon Section Styling */

.allgame-icon-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
     
 }
.allgame-icons{
   
    height: auto;
    display: grid;
    padding:  8rem 2rem;
     grid-template-columns: repeat(5, 1fr);
     gap: 1.2rem;
     margin-top: 1rem;
     display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
     
 }
 .icon-container{
   
        border-radius: 50px;
        background: #FFF;
        padding: 1rem;
        display: flex;
        justify-content: space-around;       
        align-items: center;
        text-align: center;
        gap: 0.2rem;
 }
 .icon-container:hover{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #FF42A5;
    
 }
 .icon{
    width: 100%;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

 }
 .icon-title{
    color: #0B0223;
    font-size: 1.2rem;
    font-weight: 600;

 }

 /* Footer Section Syling */
 footer{

    background: #0B0223;
    padding: 5rem 0rem;
 }
 .company-info{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 0rem;
   }
    
 .list, footer>p, .icons{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3rem;
    list-style: none;
    margin: 1.5rem 0rem;
 }
 .sevices, .tearms{
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;

 }
 .tearms{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
 }
 .company-info .headings{
    color: #FFF;     
    padding: 1rem;
}
 .company-info .headings span{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.icons {  
    border-radius: 50%;
    font-size: 30px;
    width: 3rem;
    height: 3rem; 
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease;
  }
  
  .icons:hover {
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
  }
  .copyright{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 2rem;
    margin-bottom: 0px;

  }





  
  /* mrdia query for mbl responsiveness */
  @media screen and (max-width: 430px) { 
   
    .banner-section .textbox .headings{
        font-size: 2rem;

    }
    .banner-section .textbox .button-primary {
        display: inline-block;
        width: 40%;
        height: 55px;
        text-align: center;
        padding: 1rem 1.2rem;
        margin: 1.2rem 0.1rem;
        font-size: 0.8rem;  
    }
    .large-heading, .headings{
        font-size: 3.5rem;

    }
    .nav-section-container,  .nav-right, .overlay, .playinstantly-section{
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    .header-section{
        margin-bottom: 5rem;
        width: 100%;
        height: 100%;
    }
   
    .link-box{
        font-size: 0.4rem;
        width: 100%;
        height: 60%;
        padding: 0.5rem;
    }
    .link-box> svg{

    width: 40px;
    height: 40px;
    }
    .link-box> span{

    width: 150px;
  
    }
  

    .banner-section{
        flex-direction: column-reverse;
        gap: 5rem;
        border-radius: 2px solid black; 
          
    
    }
    .banner-section .img > img,
    .gamer-section .img > img {
        height: 75%;
        width: 87%;
    }
    
    .gamer-section {
        margin-top: 2rem;
        margin-bottom: 5rem;
        /* padding: 2rem; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;       
  }
  .btn-knowmore {
   position: static;
   
    
}
.instand-headings, .description,
.gamer-headings, .game-description, .purpose-text, .description {
    text-align: center;
}
.instand-headings, .description{
    width: 100%;
}
.online-games{
    margin: 2rem 0rem;
}
   
.instand-text-box, .instand-headings {
    width: 90%;

 }
 .large-image{
    left: 4.9rem;
    height: 19rem;
    width: 16rem;
    
 }
 .not-large-image{
 
    bottom: 9rem;
    height: 10rem;
    width: 9rem;

 }
.image{
   margin-top: 4rem;
   height: auto;
}

 .online-head, .colhead{
    font-size: 1.5rem;
}
.caption, .subtitle{
    font-size: 0.9rem;
    margin: 0.1rem 0rem;
    margin-top: 2rem;

 } 

 .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    gap: 1.2rem;

    list-style: none;
    margin: 3rem 2rem;
 }
 #list-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
 }
 .sevices, .tearms{
    
    font-size: .85rem;
   

 }
  .allgame-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4rem;
    width: auto;
    padding:  0rem ;
     

 }
 .icon-container{
    width: auto;
 }
 .icon-title,.copyright {
   
    font-size: 0.8rem;
    font-weight: 600;

 }
 .box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-left: 0px;
  }

#box-1 .overlay ,#box-2 .overlay,
 #box-3 .overlay ,#box-4 .overlay{
    border-radius: 24px;

     width: 100%;
     height: 79%;}
     
     .boxs{

    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}
.boxs{
    width: 50%;
    height: 75%;
    margin-top: 40px;
    margin-bottom: 20px;

}


.boxs> img{
    padding: 2px;
    height: auto;
    width: auto;
    border-radius: 24px;
}
.banner-section .textbox {
    padding: 20%;
  

}
    
}
/* My tablet portrait specific styles is added here */
@media screen and (min-width:430px) and (max-width: 992px) {
    .banner-section {
      flex-direction: column;
    }
    .textbox {
      padding: 2rem;
    }
    .large-heading {
      font-size: 4rem;
    }
    .instand-headings, .description{
        width: 100%;
    }
  
  .nav-section-container,  .nav-right, .overlay, .playinstantly-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.header-section{
    margin-bottom: 5rem;
    width: 100%;
    height: 100%;
}

.link-box{
    font-size: 8px;
    width: 100%;
    height: 60%;
}

.link-box> svg{
  
    width: 10%;
    height: 10%;
}
.banner-section{
    flex-direction: column-reverse;
    gap: 5rem;
    text-align: center;
   

}
.banner-section .img >img, .gamer-section .img> img{
  height: 90%;
  width:  90%;


}
.gamer-section {
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding: 0rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.instand-headings, .description, .gamer-headings, .game-description, .purpose-text, .description {
    text-align: center;
}
.online-games{
    margin: 2rem 0rem;
}
.box-container, .overlay{   
    grid-template-columns: repeat(2, 1fr); 
gap: 2rem;
margin: 0rem ;
padding: 3rem;

}
.instand-text-box, .instand-headings {
    width: 90%;
    
}
.large-image{
    left: 18%;
    
    
}
.not-large-image{
    bottom: 15rem;
    height: 20rem;
    width: 19rem;
    
}
.image{
    margin-top: 4rem;
    height: auto;
}

.banner-section .textbox .button-primary{
    padding: 1rem 1.2rem;
    margin: 1.2rem 0rem;
    gap: 1rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.online-head, .colhead{
    font-size: 1.8rem;
}
.caption, .subtitle{   
    font-size: 0.9rem;    
    margin: 0.1rem 0px;
    margin-top: 2rem;
    
} 

.list{
    display: grid;
grid-template-columns: repeat(3, 1fr);
text-align: center;
align-items: center;
gap: 1.2rem;
list-style: none;
margin: 3rem 2rem;
}
#list-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}
.sevices, .tearms{  
font-size: .85rem;

}
.allgame-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 4px 0px ;
    width: auto;
    padding: 4rem 1.2rem ;
    
    
}
.nav-left{
    margin-bottom: 24px;
}
.icon-container{
    width: auto;
    padding: 6px;
}
.icon-title,.copyright {
    
    font-size: 1rem;
font-weight: 600;

}
.icon-container > img{
    width: 20%;
    height: 94%;
    
}
.btn-knowmore {
   position: static; 
 }

.boxs .overlay {
    width: 100%;
    height: 85%;
}

}